@import "../../assets/styles/color/variables";

.blog {
  border: 1px solid $grey;
  &__image {
    border-bottom: 1px solid $grey;
    aspect-ratio: 16 / 9;
    max-width: 100%;
    display: block;
  }
  &__content {
    padding: 16px;
  }
  &__name {
    font-size: 24px;
    font-weight: 500;
    color: white;
  }
  &__description {
    color: $grey;
    margin: 16px 0;
  }
  &__links {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    .button {
      color: white;
      display: inline-block;
      padding: 8px 16px;
      border: 1px solid $primary;
      font-weight: 500;
      text-decoration: none;
    }
  }
}
