@import "../../assets/styles/color/variables";

.header {
  &__container {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: $background;
    padding-top: 32px;
    padding-bottom: 8px;
  }

  &__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 1024px;
  }

  &__nav-container {
    display: flex;
  }

  &__navlink {
    color: $grey;
    text-decoration: none;

    span {
      color: $primary;
    }
    &:not(:last-child) {
      margin-right: 1.25rem;
    }
  }
}
.active {
  color: white;
}
.logo {
  font-family: "Meddon", cursive;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 2rem;
}
