@import "../../assets/styles/color/variables";

.header {
  &__container {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: $background;
    padding-top: 32px;
    padding-bottom: 8px;
  }

  &__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    width: 1024px;

    @media (max-width: 1024px) {
      width: 100%;
    }
  }

  &__nav-container {
    display: flex;

    @media (max-width: 1024px) {
      display: none;
      flex-direction: column;
      align-items: center;
      position: fixed;
      top: 90px;
      left: 0;
      width: 100%;
      background-color: $background;
      padding: 1rem 0;
    }

    &.open {
      display: flex;
    }
  }

  &__navlink {
    color: $grey;
    text-decoration: none;

    span {
      color: $primary;
    }
    &:not(:last-child) {
      margin-right: 1.25rem;
    }
    @media (max-width: 1024px) {
      font-size: 2rem;
    }
  }
}

.active {
  color: white;
}
.logo {
  font-family: "Meddon", cursive;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 2rem;
  text-decoration: none;
  @media (max-width: 1024px) {
    font-size: 1rem;
    padding-left: 1rem;
  }
}

/* menu icon */

.menu-icon {
  cursor: pointer;
  padding: 28px 20px;
  position: relative;
  user-select: none;
  float: right;
  display: none;

  @media (max-width: 1024px) {
    display: block;
  }
}

.menu-icon .navicon {
  background: #fb1056;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.menu-icon .navicon:before,
.menu-icon .navicon:after {
  background: #fb1056;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.menu-icon .navicon:before {
  top: 5px;
}

.menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.menu-btn {
  display: none;
}

.menu-btn:checked ~ .menu {
  max-height: 370px;
}

.menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

.menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
