@import "../../../../assets/styles/color/variables";

.hero {
  &__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    flex-wrap: wrap;
  }

  &__content {
    flex: 1 1 0;
  }

  &__graphic {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
  }

  &__title {
    min-width: 300px;
    font-size: 32px;
    font-weight: 600;
    color: white;
    span {
      color: $primary;
    }
  }

  &__description {
    color: $grey;
    margin-top: 32px;
    margin-bottom: 32px;
  }
  &__logo {
    position: absolute;
    width: 30vmin;
    top: 10%;
    z-index: 1;
    aspect-ratio: 1;
  }
  &__image {
    position: relative;
    z-index: 2;
    border-bottom: 1px solid $primary;
  }
}
