@import "../../assets/styles/color/variables";

.exp {
  width: 100%;
  &-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    align-items: start;
    margin-top: 48px;
  }
  &__card {
    border: 1px solid $grey;
  }
  &__image {
    border-bottom: 1px solid $grey;
    aspect-ratio: 16 / 9;
    width: 100%;
    display: block;
    background: white;
  }
  &__content {
    padding: 16px;
  }
  &__name {
    font-size: 24px;
    font-weight: 500;
    color: white;
  }
  &__description {
    color: $grey;
    margin: 16px 0;
  }
  &__links{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }
}
