@import "../../assets/styles/color/variables";

.projects {
  &-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    align-items: start;
    margin-top: 48px;
  }
}
.viewAll {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  .button {
    color: white;
    display: inline-block;
    padding: 8px 16px;
    border: 1px solid $primary;
    font-weight: 500;
    text-decoration: none;
  }
}
